<!DOCTYPE html>
<html>
  <head>
    <title><%= Coffee Shop %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Matcha</li>
      <li>Goat's Milk</li>
      <li>add more...</li>
    </ul>
  </body>
</html>